.fullSize {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
}

@media (min-width: 576px) { 
    .halfSize {
        width: 49% !important;
    }
}

.halfSize {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    height: 100%;
}

.halfSizeContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section {
    height: 3px;
}

.subcatTitle {
    margin-top: 15px;
}
