*{
    font-family: 'Courier Prime', monospace;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: -webkit-fill-available;
    max-width: 820px;
    margin: 15px 5%;
};

@media (min-width: 1200px) { 
    .contentContainer{
        width: 820px;
        margin: 15px auto;
    }
}

.section {
    width: 100%;
}